* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color__green: #085c5c;
  --color__blue-light: #e8fcfc;
  --color__purple-light: #ffe4fc;
  --color__yellow-light: #fffcdc;
  --color__white: #fff;
  --color__black: #000;
}
body {
  width: 800px;
  margin: 0 auto;
}
header p {
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 0;
}
header span {
  font-size: 1.8rem;
  font-weight: normal;
}
header h1 {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 3rem;
  display: inline-block;
  border-bottom: 3px solid black;
}
.one {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--color__black);
}
.two {
  display: flex;
  align-items: center;
}
.farmer,
.farm {
  width: 50%;
}
.farmer {
  border-right: 3px solid var(--color__black);
}
.farm {
  margin-left: 2rem;
  line-height: 3rem;
}
.header__logo {
  margin-top: 0.75rem;
}
.name {
  display: inline-block;
  font-weight: bolder;
}
